#imHeader_imCell_2 { display: block; position: relative; overflow: hidden; }
#imHeader_imCellStyle_2 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imHeader_imCellStyleGraphics_2 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imTextObject_02 { font-style: normal; font-weight: normal; line-height: 20px; }
#imHeader_imTextObject_02_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imHeader_imTextObject_02_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imHeader_imTextObject_02_tab0 ul ul ul { list-style: circle; }
#imHeader_imTextObject_02_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imHeader_imTextObject_02_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imHeader_imTextObject_02_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imHeader_imTextObject_02_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imHeader_imTextObject_02_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imHeader_imTextObject_02_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imHeader_imTextObject_02_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imHeader_imTextObject_02_tab0 p { margin: 0; padding: 0; }
#imHeader_imTextObject_02_tab0 .inline-block { display: inline-block; }
#imHeader_imTextObject_02_tab0 sup { vertical-align: super; font-size: smaller; }
#imHeader_imTextObject_02_tab0 sub { vertical-align: sub; font-size: smaller; }
#imHeader_imTextObject_02_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imHeader_imTextObject_02_tab0 .fleft { float: left; vertical-align: baseline;}
#imHeader_imTextObject_02_tab0 .fright { float: right; vertical-align: baseline;}
#imHeader_imTextObject_02_tab0 img.fleft { margin-right: 15px; }
#imHeader_imTextObject_02_tab0 img.fright { margin-left: 15px; }
#imHeader_imTextObject_02_tab0 .imUl { text-decoration: underline; }
#imHeader_imTextObject_02_tab0 .imVt { vertical-align: top; }
#imHeader_imTextObject_02_tab0 .imVc { vertical-align: middle; }
#imHeader_imTextObject_02_tab0 .imVb { vertical-align: bottom; }
#imHeader_imTextObject_02_tab0 .fs16 { vertical-align: baseline; font-size: 16pt;line-height: 28px; }
#imHeader_imTextObject_02_tab0 .cf1 { color: rgb(255, 255, 255); }
#imHeader_imTextObject_02 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
#imHeader_imTextObject_02 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imHeader_imTextObject_02 .text-container {height: 28px; }
#imHeader_imCell_3 { display: block; position: relative; overflow: hidden; }
#imHeader_imCellStyle_3 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imHeader_imCellStyleGraphics_3 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imTextObject_03 { font-style: normal; font-weight: normal; line-height: 20px; }
#imHeader_imTextObject_03_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imHeader_imTextObject_03_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imHeader_imTextObject_03_tab0 ul ul ul { list-style: circle; }
#imHeader_imTextObject_03_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imHeader_imTextObject_03_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imHeader_imTextObject_03_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imHeader_imTextObject_03_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imHeader_imTextObject_03_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imHeader_imTextObject_03_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imHeader_imTextObject_03_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imHeader_imTextObject_03_tab0 p { margin: 0; padding: 0; }
#imHeader_imTextObject_03_tab0 .inline-block { display: inline-block; }
#imHeader_imTextObject_03_tab0 sup { vertical-align: super; font-size: smaller; }
#imHeader_imTextObject_03_tab0 sub { vertical-align: sub; font-size: smaller; }
#imHeader_imTextObject_03_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imHeader_imTextObject_03_tab0 .fleft { float: left; vertical-align: baseline;}
#imHeader_imTextObject_03_tab0 .fright { float: right; vertical-align: baseline;}
#imHeader_imTextObject_03_tab0 img.fleft { margin-right: 15px; }
#imHeader_imTextObject_03_tab0 img.fright { margin-left: 15px; }
#imHeader_imTextObject_03_tab0 .imUl { text-decoration: underline; }
#imHeader_imTextObject_03_tab0 .imVt { vertical-align: top; }
#imHeader_imTextObject_03_tab0 .imVc { vertical-align: middle; }
#imHeader_imTextObject_03_tab0 .imVb { vertical-align: bottom; }
#imHeader_imTextObject_03_tab0 .fs14 { vertical-align: baseline; font-size: 14pt;line-height: 25px; }
#imHeader_imTextObject_03_tab0 .cf1 { color: rgb(255, 255, 255); }
#imHeader_imTextObject_03 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
#imHeader_imTextObject_03 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imHeader_imTextObject_03 .text-container {height: 25px; }
#imHeader_imCell_6 { display: block; position: relative; overflow: hidden; }
#imHeader_imCellStyle_6 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imHeader_imCellStyleGraphics_6 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imObjectImage_06 { width: 100%; vertical-align: top; }
#imHeader_imCell_7 { display: block; position: relative; overflow: visible; }
#imHeader_imCellStyle_7 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imHeader_imCellStyleGraphics_7 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imObjectTitle_07 {overflow: hidden; text-align: right; }
#imHeader_imObjectTitle_07_text {font: normal normal normal 20pt 'Tahoma';  padding: 0px 0px 0px 0px;background-color: transparent; position: relative; display: inline-block; }
#imHeader_imObjectTitle_07_text,
#imHeader_imObjectTitle_07_text a { color: #FFFFFF; white-space: pre; }
#imHeader_imObjectTitle_07_text a{ text-decoration: none; }
#imHeader_imCell_8 { display: block; position: relative; overflow: visible; }
#imHeader_imCellStyle_8 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imHeader_imCellStyleGraphics_8 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imObjectTitle_08 {overflow: hidden; text-align: left; }
#imHeader_imObjectTitle_08_text {font: normal normal normal 20pt 'Tahoma';  padding: 0px 0px 0px 0px;background-color: transparent; position: relative; display: inline-block; }
#imHeader_imObjectTitle_08_text,
#imHeader_imObjectTitle_08_text a { color: #FFFFFF; white-space: pre; }
#imHeader_imObjectTitle_08_text a{ text-decoration: none; }
#imFooter_imCell_4 { display: block; position: relative; overflow: hidden; }
#imFooter_imCellStyle_4 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imFooter_imCellStyleGraphics_4 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imFooter_imTextObject_04 { font-style: normal; font-weight: normal; line-height: 20px; }
#imFooter_imTextObject_04_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imFooter_imTextObject_04_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imFooter_imTextObject_04_tab0 ul ul ul { list-style: circle; }
#imFooter_imTextObject_04_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imFooter_imTextObject_04_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imFooter_imTextObject_04_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imFooter_imTextObject_04_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imFooter_imTextObject_04_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imFooter_imTextObject_04_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imFooter_imTextObject_04_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imFooter_imTextObject_04_tab0 p { margin: 0; padding: 0; }
#imFooter_imTextObject_04_tab0 .inline-block { display: inline-block; }
#imFooter_imTextObject_04_tab0 sup { vertical-align: super; font-size: smaller; }
#imFooter_imTextObject_04_tab0 sub { vertical-align: sub; font-size: smaller; }
#imFooter_imTextObject_04_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imFooter_imTextObject_04_tab0 .fleft { float: left; vertical-align: baseline;}
#imFooter_imTextObject_04_tab0 .fright { float: right; vertical-align: baseline;}
#imFooter_imTextObject_04_tab0 img.fleft { margin-right: 15px; }
#imFooter_imTextObject_04_tab0 img.fright { margin-left: 15px; }
#imFooter_imTextObject_04_tab0 .imUl { text-decoration: underline; }
#imFooter_imTextObject_04_tab0 .imVt { vertical-align: top; }
#imFooter_imTextObject_04_tab0 .imVc { vertical-align: middle; }
#imFooter_imTextObject_04_tab0 .imVb { vertical-align: bottom; }
#imFooter_imTextObject_04_tab0 .fs10 { vertical-align: baseline; font-size: 10pt; }
#imFooter_imTextObject_04_tab0 .cf1 { color: rgb(255, 255, 255); }
#imFooter_imTextObject_04 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
#imFooter_imTextObject_04 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imFooter_imTextObject_04 .text-container {height: 20px; }
#imGroup_1 { float: left; }
#imCell_3 { display: block; position: relative; overflow: hidden; }
#imCellStyle_3 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_3 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imTextObject_03 { font-style: normal; font-weight: normal; line-height: 20px; }
#imTextObject_03_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_03_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_03_tab0 ul ul ul { list-style: circle; }
#imTextObject_03_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_03_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_03_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_03_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_03_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_03_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_03_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_03_tab0 p { margin: 0; padding: 0; }
#imTextObject_03_tab0 .inline-block { display: inline-block; }
#imTextObject_03_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_03_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_03_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_03_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_03_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_03_tab0 img.fleft { margin-right: 15px; }
#imTextObject_03_tab0 img.fright { margin-left: 15px; }
#imTextObject_03_tab0 .imUl { text-decoration: underline; }
#imTextObject_03_tab0 .imVt { vertical-align: top; }
#imTextObject_03_tab0 .imVc { vertical-align: middle; }
#imTextObject_03_tab0 .imVb { vertical-align: bottom; }
#imTextObject_03_tab0 .fs16 { vertical-align: baseline; font-size: 16pt;line-height: 28px; }
#imTextObject_03 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
#imTextObject_03 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imTextObject_03 .text-container {height: 112px; }
#imGroup_2 > div { float: left; }
#imCell_5 { display: block; position: relative; overflow: hidden; }
#imCellStyle_5 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_5 { position: absolute; top: 5px; bottom: 5px; background-color: transparent; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; overflow: hidden;}
#imCellStyleGraphicsC_5 { position: absolute; top: 51px; bottom: 51px; left: 83px; right: 83px; background: transparent url('../') repeat center center;}
#imCellStyleGraphicsB_5 { position: absolute; bottom: 0; left: 83px; right: 83px; height: 51px; background: transparent url('../') repeat-x center bottom;}
#imCellStyleGraphicsBL_5 { position: absolute; bottom: 0; left: 0; width: 83px; height: 51px; background: transparent url('../') repeat left bottom;}
#imCellStyleGraphicsBR_5 { position: absolute; bottom: 0; right: 0; width: 83px; height: 51px; background: transparent url('../') repeat right bottom;}
#imCellStyleGraphicsL_5 { position: absolute; top: 51px; bottom: 51px; left: 0; width: 83px; background: transparent url('../') repeat-y left center;}
#imCellStyleGraphicsR_5 { position: absolute; top: 51px; bottom: 51px; right: 0; width: 83px; background: transparent url('../') repeat-y right center;}
#imCellStyleGraphicsT_5 { position: absolute; top: 0; left: 83px; right: 83px; height: 51px; background: transparent url('../') repeat-x center top;}
#imCellStyleGraphicsTL_5 { position: absolute; top: 0; left: 0; width: 83px; height: 51px; background: transparent url('../') repeat left top;}
#imCellStyleGraphicsTR_5 { position: absolute; top: 0; right: 0; width: 83px; height: 51px; background: transparent url('../') repeat right top;}
#imTextObject_05 { font-style: normal; font-weight: normal; line-height: 20px; }
#imTextObject_05_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_05_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_05_tab0 ul ul ul { list-style: circle; }
#imTextObject_05_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_05_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_05_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_05_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_05_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_05_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_05_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_05_tab0 p { margin: 0; padding: 0; }
#imTextObject_05_tab0 .inline-block { display: inline-block; }
#imTextObject_05_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_05_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_05_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_05_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_05_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_05_tab0 img.fleft { margin-right: 15px; }
#imTextObject_05_tab0 img.fright { margin-left: 15px; }
#imTextObject_05_tab0 .imUl { text-decoration: underline; }
#imTextObject_05_tab0 .imVt { vertical-align: top; }
#imTextObject_05_tab0 .imVc { vertical-align: middle; }
#imTextObject_05_tab0 .imVb { vertical-align: bottom; }
#imTextObject_05_tab0 .fs14 { vertical-align: baseline; font-size: 14pt;line-height: 25px; }
#imTextObject_05 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
#imTextObject_05 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imTextObject_05 .text-container {height: 50px; }
#imCell_6 { display: block; position: relative; overflow: hidden; }
#imCellStyle_6 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_6 { position: absolute; top: 5px; bottom: 5px; background-color: transparent; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; overflow: hidden;}
#imCellStyleGraphicsC_6 { position: absolute; top: 51px; bottom: 51px; left: 83px; right: 83px; background: transparent url('../') repeat center center;}
#imCellStyleGraphicsB_6 { position: absolute; bottom: 0; left: 83px; right: 83px; height: 51px; background: transparent url('../') repeat-x center bottom;}
#imCellStyleGraphicsBL_6 { position: absolute; bottom: 0; left: 0; width: 83px; height: 51px; background: transparent url('../') repeat left bottom;}
#imCellStyleGraphicsBR_6 { position: absolute; bottom: 0; right: 0; width: 83px; height: 51px; background: transparent url('../') repeat right bottom;}
#imCellStyleGraphicsL_6 { position: absolute; top: 51px; bottom: 51px; left: 0; width: 83px; background: transparent url('../') repeat-y left center;}
#imCellStyleGraphicsR_6 { position: absolute; top: 51px; bottom: 51px; right: 0; width: 83px; background: transparent url('../') repeat-y right center;}
#imCellStyleGraphicsT_6 { position: absolute; top: 0; left: 83px; right: 83px; height: 51px; background: transparent url('../') repeat-x center top;}
#imCellStyleGraphicsTL_6 { position: absolute; top: 0; left: 0; width: 83px; height: 51px; background: transparent url('../') repeat left top;}
#imCellStyleGraphicsTR_6 { position: absolute; top: 0; right: 0; width: 83px; height: 51px; background: transparent url('../') repeat right top;}
#imTextObject_06 { font-style: normal; font-weight: normal; line-height: 20px; }
#imTextObject_06_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_06_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_06_tab0 ul ul ul { list-style: circle; }
#imTextObject_06_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_06_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_06_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_06_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_06_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_06_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_06_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_06_tab0 p { margin: 0; padding: 0; }
#imTextObject_06_tab0 .inline-block { display: inline-block; }
#imTextObject_06_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_06_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_06_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_06_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_06_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_06_tab0 img.fleft { margin-right: 15px; }
#imTextObject_06_tab0 img.fright { margin-left: 15px; }
#imTextObject_06_tab0 .imUl { text-decoration: underline; }
#imTextObject_06_tab0 .imVt { vertical-align: top; }
#imTextObject_06_tab0 .imVc { vertical-align: middle; }
#imTextObject_06_tab0 .imVb { vertical-align: bottom; }
#imTextObject_06_tab0 .fs14 { vertical-align: baseline; font-size: 14pt;line-height: 25px; }
#imTextObject_06 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
#imTextObject_06 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imTextObject_06 .text-container {height: 50px; }
#imCell_7 { display: block; position: relative; overflow: hidden; }
#imCellStyle_7 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_7 { position: absolute; top: 5px; bottom: 5px; background-color: transparent; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; overflow: hidden;}
#imCellStyleGraphicsC_7 { position: absolute; top: 51px; bottom: 51px; left: 83px; right: 83px; background: transparent url('../') repeat center center;}
#imCellStyleGraphicsB_7 { position: absolute; bottom: 0; left: 83px; right: 83px; height: 51px; background: transparent url('../') repeat-x center bottom;}
#imCellStyleGraphicsBL_7 { position: absolute; bottom: 0; left: 0; width: 83px; height: 51px; background: transparent url('../') repeat left bottom;}
#imCellStyleGraphicsBR_7 { position: absolute; bottom: 0; right: 0; width: 83px; height: 51px; background: transparent url('../') repeat right bottom;}
#imCellStyleGraphicsL_7 { position: absolute; top: 51px; bottom: 51px; left: 0; width: 83px; background: transparent url('../') repeat-y left center;}
#imCellStyleGraphicsR_7 { position: absolute; top: 51px; bottom: 51px; right: 0; width: 83px; background: transparent url('../') repeat-y right center;}
#imCellStyleGraphicsT_7 { position: absolute; top: 0; left: 83px; right: 83px; height: 51px; background: transparent url('../') repeat-x center top;}
#imCellStyleGraphicsTL_7 { position: absolute; top: 0; left: 0; width: 83px; height: 51px; background: transparent url('../') repeat left top;}
#imCellStyleGraphicsTR_7 { position: absolute; top: 0; right: 0; width: 83px; height: 51px; background: transparent url('../') repeat right top;}
#imTextObject_07 { font-style: normal; font-weight: normal; line-height: 20px; }
#imTextObject_07_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_07_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_07_tab0 ul ul ul { list-style: circle; }
#imTextObject_07_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_07_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_07_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_07_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_07_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_07_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_07_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_07_tab0 p { margin: 0; padding: 0; }
#imTextObject_07_tab0 .inline-block { display: inline-block; }
#imTextObject_07_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_07_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_07_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_07_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_07_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_07_tab0 img.fleft { margin-right: 15px; }
#imTextObject_07_tab0 img.fright { margin-left: 15px; }
#imTextObject_07_tab0 .imUl { text-decoration: underline; }
#imTextObject_07_tab0 .imVt { vertical-align: top; }
#imTextObject_07_tab0 .imVc { vertical-align: middle; }
#imTextObject_07_tab0 .imVb { vertical-align: bottom; }
#imTextObject_07_tab0 .fs14 { vertical-align: baseline; font-size: 14pt;line-height: 25px; }
#imTextObject_07 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
#imTextObject_07 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imTextObject_07 .text-container {height: 50px; }
#imCell_8 { display: block; position: relative; overflow: hidden; }
#imCellStyle_8 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_8 { position: absolute; top: 5px; bottom: 5px; background-color: transparent; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; overflow: hidden;}
#imCellStyleGraphicsC_8 { position: absolute; top: 51px; bottom: 51px; left: 83px; right: 83px; background: transparent url('../') repeat center center;}
#imCellStyleGraphicsB_8 { position: absolute; bottom: 0; left: 83px; right: 83px; height: 51px; background: transparent url('../') repeat-x center bottom;}
#imCellStyleGraphicsBL_8 { position: absolute; bottom: 0; left: 0; width: 83px; height: 51px; background: transparent url('../') repeat left bottom;}
#imCellStyleGraphicsBR_8 { position: absolute; bottom: 0; right: 0; width: 83px; height: 51px; background: transparent url('../') repeat right bottom;}
#imCellStyleGraphicsL_8 { position: absolute; top: 51px; bottom: 51px; left: 0; width: 83px; background: transparent url('../') repeat-y left center;}
#imCellStyleGraphicsR_8 { position: absolute; top: 51px; bottom: 51px; right: 0; width: 83px; background: transparent url('../') repeat-y right center;}
#imCellStyleGraphicsT_8 { position: absolute; top: 0; left: 83px; right: 83px; height: 51px; background: transparent url('../') repeat-x center top;}
#imCellStyleGraphicsTL_8 { position: absolute; top: 0; left: 0; width: 83px; height: 51px; background: transparent url('../') repeat left top;}
#imCellStyleGraphicsTR_8 { position: absolute; top: 0; right: 0; width: 83px; height: 51px; background: transparent url('../') repeat right top;}
#imTextObject_08 { font-style: normal; font-weight: normal; line-height: 20px; }
#imTextObject_08_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_08_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_08_tab0 ul ul ul { list-style: circle; }
#imTextObject_08_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_08_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_08_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_08_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_08_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_08_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_08_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_08_tab0 p { margin: 0; padding: 0; }
#imTextObject_08_tab0 .inline-block { display: inline-block; }
#imTextObject_08_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_08_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_08_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_08_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_08_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_08_tab0 img.fleft { margin-right: 15px; }
#imTextObject_08_tab0 img.fright { margin-left: 15px; }
#imTextObject_08_tab0 .imUl { text-decoration: underline; }
#imTextObject_08_tab0 .imVt { vertical-align: top; }
#imTextObject_08_tab0 .imVc { vertical-align: middle; }
#imTextObject_08_tab0 .imVb { vertical-align: bottom; }
#imTextObject_08_tab0 .fs14 { vertical-align: baseline; font-size: 14pt;line-height: 25px; }
#imTextObject_08 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
#imTextObject_08 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imTextObject_08 .text-container {height: 50px; }
#imCell_11 { display: block; position: relative; overflow: hidden; }
#imCellStyle_11 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_11 { position: absolute; top: 5px; bottom: 5px; background-color: transparent; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; overflow: hidden;}
#imCellStyleGraphicsC_11 { position: absolute; top: 51px; bottom: 51px; left: 83px; right: 83px; background: transparent url('../') repeat center center;}
#imCellStyleGraphicsB_11 { position: absolute; bottom: 0; left: 83px; right: 83px; height: 51px; background: transparent url('../') repeat-x center bottom;}
#imCellStyleGraphicsBL_11 { position: absolute; bottom: 0; left: 0; width: 83px; height: 51px; background: transparent url('../') repeat left bottom;}
#imCellStyleGraphicsBR_11 { position: absolute; bottom: 0; right: 0; width: 83px; height: 51px; background: transparent url('../') repeat right bottom;}
#imCellStyleGraphicsL_11 { position: absolute; top: 51px; bottom: 51px; left: 0; width: 83px; background: transparent url('../') repeat-y left center;}
#imCellStyleGraphicsR_11 { position: absolute; top: 51px; bottom: 51px; right: 0; width: 83px; background: transparent url('../') repeat-y right center;}
#imCellStyleGraphicsT_11 { position: absolute; top: 0; left: 83px; right: 83px; height: 51px; background: transparent url('../') repeat-x center top;}
#imCellStyleGraphicsTL_11 { position: absolute; top: 0; left: 0; width: 83px; height: 51px; background: transparent url('../') repeat left top;}
#imCellStyleGraphicsTR_11 { position: absolute; top: 0; right: 0; width: 83px; height: 51px; background: transparent url('../') repeat right top;}
#imTextObject_11 { font-style: normal; font-weight: normal; line-height: 20px; }
#imTextObject_11_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_11_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_11_tab0 ul ul ul { list-style: circle; }
#imTextObject_11_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_11_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_11_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_11_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_11_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_11_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_11_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_11_tab0 p { margin: 0; padding: 0; }
#imTextObject_11_tab0 .inline-block { display: inline-block; }
#imTextObject_11_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_11_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_11_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_11_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_11_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_11_tab0 img.fleft { margin-right: 15px; }
#imTextObject_11_tab0 img.fright { margin-left: 15px; }
#imTextObject_11_tab0 .imUl { text-decoration: underline; }
#imTextObject_11_tab0 .imVt { vertical-align: top; }
#imTextObject_11_tab0 .imVc { vertical-align: middle; }
#imTextObject_11_tab0 .imVb { vertical-align: bottom; }
#imTextObject_11_tab0 .fs14 { vertical-align: baseline; font-size: 14pt;line-height: 25px; }
#imTextObject_11 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
#imTextObject_11 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imTextObject_11 .text-container {height: 50px; }
#imCell_12 { display: block; position: relative; overflow: hidden; }
#imCellStyle_12 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_12 { position: absolute; top: 5px; bottom: 5px; background-color: transparent;}
#imCellStyleGraphicsC_12 { position: absolute; top: 59px; bottom: 59px; left: 92px; right: 92px; background: transparent url('../') repeat center center;}
#imCellStyleGraphicsB_12 { position: absolute; bottom: 0; left: 92px; right: 92px; height: 59px; background: transparent url('../') repeat-x center bottom;}
#imCellStyleGraphicsBL_12 { position: absolute; bottom: 0; left: 0; width: 92px; height: 59px; background: transparent url('../') repeat left bottom;}
#imCellStyleGraphicsBR_12 { position: absolute; bottom: 0; right: 0; width: 92px; height: 59px; background: transparent url('../') repeat right bottom;}
#imCellStyleGraphicsL_12 { position: absolute; top: 59px; bottom: 59px; left: 0; width: 92px; background: transparent url('../') repeat-y left center;}
#imCellStyleGraphicsR_12 { position: absolute; top: 59px; bottom: 59px; right: 0; width: 92px; background: transparent url('../') repeat-y right center;}
#imCellStyleGraphicsT_12 { position: absolute; top: 0; left: 92px; right: 92px; height: 59px; background: transparent url('../') repeat-x center top;}
#imCellStyleGraphicsTL_12 { position: absolute; top: 0; left: 0; width: 92px; height: 59px; background: transparent url('../') repeat left top;}
#imCellStyleGraphicsTR_12 { position: absolute; top: 0; right: 0; width: 92px; height: 59px; background: transparent url('../') repeat right top;}
#imTextObject_12 { font-style: normal; font-weight: normal; line-height: 20px; }
#imTextObject_12_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_12_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_12_tab0 ul ul ul { list-style: circle; }
#imTextObject_12_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_12_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_12_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_12_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_12_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_12_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_12_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_12_tab0 p { margin: 0; padding: 0; }
#imTextObject_12_tab0 .inline-block { display: inline-block; }
#imTextObject_12_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_12_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_12_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_12_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_12_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_12_tab0 img.fleft { margin-right: 15px; }
#imTextObject_12_tab0 img.fright { margin-left: 15px; }
#imTextObject_12_tab0 .imUl { text-decoration: underline; }
#imTextObject_12_tab0 .imVt { vertical-align: top; }
#imTextObject_12_tab0 .imVc { vertical-align: middle; }
#imTextObject_12_tab0 .imVb { vertical-align: bottom; }
#imTextObject_12_tab0 .fs16 { vertical-align: baseline; font-size: 16pt;line-height: 28px; }
#imTextObject_12 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
#imTextObject_12 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imTextObject_12 .text-container {height: 28px; }
.imContentDataContainer { width: 943px; margin-left: auto; margin-right: auto; padding: 0 5px 0 5px; }
#imGroup_1 { width: 100%; }
#imCell_3 { width: 937px; min-height: 118px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
#imCellStyle_3 { width: 937px; min-height: 118px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imCellStyleGraphics_3 { left: 3px; right: 3px; }
#imGroup_2 { width: 943px; }
#imCell_5 { width: 180px; min-height: 72px;  padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px; }
#imCellStyle_5 { width: 180px; min-height: 72px; padding: 10px 10px 10px 10px; border-top: 1px solid #0030BF; border-bottom: 1px solid #0030BF; border-left: 1px solid #0030BF; border-right: 1px solid #0030BF; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; overflow: hidden; }
#imCellStyleGraphics_5 { left: 5px; right: 5px; }
#imCell_6 { width: 179px; min-height: 72px;  padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px; }
#imCellStyle_6 { width: 179px; min-height: 72px; padding: 10px 10px 10px 10px; border-top: 1px solid #0030BF; border-bottom: 1px solid #0030BF; border-left: 1px solid #0030BF; border-right: 1px solid #0030BF; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; overflow: hidden; }
#imCellStyleGraphics_6 { left: 5px; right: 5px; }
#imCell_7 { width: 178px; min-height: 72px;  padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px; }
#imCellStyle_7 { width: 178px; min-height: 72px; padding: 10px 10px 10px 10px; border-top: 1px solid #0030BF; border-bottom: 1px solid #0030BF; border-left: 1px solid #0030BF; border-right: 1px solid #0030BF; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; overflow: hidden; }
#imCellStyleGraphics_7 { left: 5px; right: 5px; }
#imCell_8 { width: 178px; min-height: 72px;  padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px; }
#imCellStyle_8 { width: 178px; min-height: 72px; padding: 10px 10px 10px 10px; border-top: 1px solid #0030BF; border-bottom: 1px solid #0030BF; border-left: 1px solid #0030BF; border-right: 1px solid #0030BF; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; overflow: hidden; }
#imCellStyleGraphics_8 { left: 5px; right: 5px; }
#imCell_11 { width: 178px; min-height: 72px;  padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px; }
#imCellStyle_11 { width: 178px; min-height: 72px; padding: 10px 10px 10px 10px; border-top: 1px solid #0030BF; border-bottom: 1px solid #0030BF; border-left: 1px solid #0030BF; border-right: 1px solid #0030BF; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; overflow: hidden; }
#imCellStyleGraphics_11 { left: 5px; right: 5px; }
#imCell_12 { width: 933px; min-height: 57px;  padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px; }
#imCellStyle_12 { width: 933px; min-height: 57px; padding: 10px 10px 15px 15px; border-top: 2px solid #0030BF; border-bottom: 2px solid #0030BF; border-left: 0; border-right: 0; }
#imCellStyleGraphics_12 { left: 5px; right: 5px; }

#imHeader_imTextObject_02_wrapper { position: absolute; top: 52px; left: 15px; width: 471px; height: 33px; z-index: 1; overflow-y: hidden; }
#imHeader_imCell_2 { width: 471px; min-height: 28px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imHeader_imCellStyle_2 { width: 471px; min-height: 28px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imHeader_imCellStyleGraphics_2 { left: 0px; right: 0px; }
#imHeader_imTextObject_03_wrapper { position: absolute; top: 94px; left: 16px; width: 931px; height: 33px; z-index: 2; overflow-y: hidden; }
#imHeader_imCell_3 { width: 931px; min-height: 25px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imHeader_imCellStyle_3 { width: 931px; min-height: 25px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imHeader_imCellStyleGraphics_3 { left: 0px; right: 0px; }
#imHeader_imObjectImage_06_wrapper { display: none; }
#imHeader_imObjectImage_06_wrapper img {-webkit-clip-path: inset(0 0 0% 0);clip-path: inset(0 0 0% 0);}#imHeader_imCell_6 { width: 52px; min-height: 52px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imHeader_imCellStyle_6 { width: 52px; min-height: 52px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imHeader_imCellStyleGraphics_6 { left: 0px; right: 0px; }
#imHeader_imObjectTitle_07_wrapper { position: absolute; top: 10px; left: 488px; width: 467px; height: 36px; z-index: 4; overflow-y: hidden; }
#imHeader_imCell_7 { width: 467px; min-height: 33px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imHeader_imCellStyle_7 { width: 467px; min-height: 33px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imHeader_imCellStyleGraphics_7 { left: 0px; right: 0px; }
#imHeader_imObjectTitle_07_text { top: 0px; right: 0px; }
#imHeader_imObjectTitle_07 {min-height: 33px; }
#imHeader_imObjectTitle_08_wrapper { position: absolute; top: 11px; left: 14px; width: 277px; height: 36px; z-index: 5; overflow-y: hidden; }
#imHeader_imCell_8 { width: 277px; min-height: 33px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imHeader_imCellStyle_8 { width: 277px; min-height: 33px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imHeader_imCellStyleGraphics_8 { left: 0px; right: 0px; }
#imHeader_imObjectTitle_08_text { top: 0px; left: 0px; }
#imHeader_imObjectTitle_08 {min-height: 33px; }

#imFooter_imTextObject_04_wrapper { position: absolute; top: 6px; left: 2px; width: 943px; height: 33px; z-index: 1; overflow-y: hidden; }
#imFooter_imCell_4 { width: 943px; min-height: 20px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imFooter_imCellStyle_4 { width: 943px; min-height: 20px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imFooter_imCellStyleGraphics_4 { left: 0px; right: 0px; }

